* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    background-image: url('../img/tropical\ forest\ .jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    position: absolute;
    padding: 21px;
    margin: 0%;
}

.bodyimg {
    box-shadow: 2px 2px 5px black;
    background-color: white;
    padding: 50px;
    box-sizing: 90%;
}

.text-pra p,
ul {
    font-weight: 500;
}

.articl {
    padding-left: 10px;
}

h1 {
    color: #0047AB;
}

h4 {
    color: gray;
    font-size: 18px;
}

span {
    color: #0047AB;
    font-weight: 600;
}

p {
    font-weight: 400;
}

ul li {
    list-style: none;
}

.card {
    margin-left: 10px;
    background-color: #80808014;
}

.mb-3,
.my-3 {
    margin-top: 20px;
    border-bottom-right-radius: 44px;
    border: 1px solid;
    color: black;
    border-top-left-radius: 44px;
}

img {
    padding-top: 5px;
    margin-top: 20px;
    height: 220px;
    vertical-align: middle;
    border-style: none;
    margin-left: 30px;
}

.first-p {
    padding-top: 40px;
}

.first-text h5,
.first-list h5 {
    color: #0047AB;
}

.articl .red {
    color: #D2042D;
}

.first-text .red {
    color: #D2042D;
}

.qoute {
    width: 500px;
    height: 300px;
    text-align: center;
    padding-top: 20px;
}

.qoute q {
    color: gray;
    font-size: 30px;
}

.jumbotron {
    background-color: #e9ecefbf;
}

.marketing {
    background: none;
    color: gray;
}

.marketing p {
    font-size: 30px;
}

.number {
    background-color: #D2042D;
    color: white;
    padding: 2px 8px;
    margin-right: 5px;
    margin-bottom: 4px;
}

.text-ul {
    padding-left: 20px;
}

.text-ul .cir {
    background-color: #D2042D;
    border-radius: 50%;
    padding: 0px 10px;
    margin-right: 6px;
}